$total-spans: 16;
$left-padding: 208px;

// Clear after floats
@mixin clearfix {
  zoom:1;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }

}


@mixin bottom-border {
  padding: 0 0 20px;
  border-bottom: 1px dashed #ccccca;
  margin: 0 0 20px;
}

.schedule {
  margin: 0 0 50px;

  .schedule--head {
    padding-left: $left-padding;
    .schedule--times {
      @include clearfix;

      span {
        display: block;
        float: left;
        width: 100% / $total-spans -  percentage(8 / 941);
        padding-left: percentage(8 / 941);
      }
    }
  }

  .schedule--body {
    padding: 19px 11px;

    .date {
      font-size: 14px;
      @include bottom-border;
      span {
        color: #9a9a9a;
      }
    }

    .schedule-events {
      .schedule-events--item {
        @include clearfix;
        margin-bottom: 20px;
        .title {
          float: left;
          width: $left-padding - 11px;
        }

        .times {
          margin-left: $left-padding - 11px;
          position: relative;
          a {
            display: block;
            position: absolute;
            padding: 4px percentage(8 / 941);
            background: white;
            border: 1px #bfbfbf solid;
            border-radius: 5px;
            text-decoration: none;
          }
        }
      }
    }

  }
}
