.schedule {
  margin: 0 0 50px; }
  .schedule .schedule--head {
    padding-left: 208px; }
    .schedule .schedule--head .schedule--times {
      zoom: 1; }
      .schedule .schedule--head .schedule--times:before, .schedule .schedule--head .schedule--times:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden; }
      .schedule .schedule--head .schedule--times:after {
        clear: both; }
      .schedule .schedule--head .schedule--times span {
        display: block;
        float: left;
        width: 5.39984%;
        padding-left: 0.85016%; }
  .schedule .schedule--body {
    padding: 19px 11px; }
    .schedule .schedule--body .date {
      font-size: 14px;
      padding: 0 0 20px;
      border-bottom: 1px dashed #ccccca;
      margin: 0 0 20px; }
      .schedule .schedule--body .date span {
        color: #9a9a9a; }
    .schedule .schedule--body .schedule-events .schedule-events--item {
      zoom: 1;
      margin-bottom: 20px; }
      .schedule .schedule--body .schedule-events .schedule-events--item:before, .schedule .schedule--body .schedule-events .schedule-events--item:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden; }
      .schedule .schedule--body .schedule-events .schedule-events--item:after {
        clear: both; }
      .schedule .schedule--body .schedule-events .schedule-events--item .title {
        float: left;
        width: 197px; }
      .schedule .schedule--body .schedule-events .schedule-events--item .times {
        margin-left: 197px;
        position: relative; }
        .schedule .schedule--body .schedule-events .schedule-events--item .times a {
          display: block;
          position: absolute;
          padding: 4px 0.85016%;
          background: white;
          border: 1px #bfbfbf solid;
          border-radius: 5px;
          text-decoration: none; }
