﻿body, input {
    color: #555;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
}

input, button {
    outline: none;
}

.address {
    width: 808px;
    margin: 40px auto 0;
    padding: 40px;
    border: 2px solid #e1e1e1;
    background-color: #f7f7f7;
    box-shadow: rgba(0, 0, 0, 0.075) 1px 1px 5px;
}

.address h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    padding-bottom: 40px;
    text-align: center;
}

.address .kladr-error {
    color: #df2c0f;
}

.col-1 {
    float: left;
}

.col-2 {
    margin-left: 384px;
}

.field label {
    display: inline-block;
    width: 80px;
    vertical-align: middle;
}

.field {
    margin-bottom: 20px;
    padding: 0;
}

.field input {
    height: 2em;
    width: 240px;
    border: 1px solid #d8d8d8;
    padding: 0 7px;
    color: #666;
}

.panel-map {
    width: 100%;
    height: 220px;
    /*padding: 20px;*/
    border: 1px solid #d8d8d8;
    background: #ffffff;
    background-size: 400px 250px;
}

.addition {
    padding-top: 15px;
}

.addition .block {
    display: block;
    height: 165px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fcfcfc;
    border: 1px solid #d8d8d8;
    font-size: 13px;
    width: 298px;
}

.addition .block:nth-child(1) {
    height: 88px;
    line-height: 20px;
}

.addition .title {
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    margin-bottom: 10px;
}

.addition ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.addition li {
    margin-bottom: 5px;
}

.addition .name {
    font-style: italic;
}

#kladr_autocomplete small {
    color: #AAA;
}