
.x-rating {
    width: 60px;
    height: 16px;
    display: block;
    background: url(../images/star-rating.png) 0 0 no-repeat;
}

.x-rate-10{ background-position: 0 0; }
.x-rate-8{ background-position: -12px 0; }
.x-rate-6 { background-position: -24px 0; }
.x-rate-4 { background-position: -36px 0; }
.x-rate-2 { background-position: -48px 0; }
.x-rate-0 { background-position: -60px 0; }

.x-rate-1  { background-position: -48px -16px; }
.x-rate-3 { background-position: -36px -16px; }
.x-rate-5 { background-position: -24px -16px; }
.x-rate-7 { background-position: -12px -16px; }
.x-rate-9 { background-position: 0 -16px; }


h4.anchor:target {
    padding-top: 100px;
}
a.anchor:target {
    padding-top: 100px;
}

